html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul{ 
    margin: 0; 
    padding: 0; 
    list-style: none; 
    text-decoration: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
--main-color:#212121;
--secondary-color:#757575;
--main-background-color:#F5F4FA;
--secondary-background-color:#2F303A;
--accent-color: #f34b21;
--text-color: #FFFFFF;
--contacts-text-color: rgba(255, 255, 255, 0.6);
--layout-color: rgba(243, 86, 33, 0.9);
}

body{
    font-family: Roboto, sans-serif;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid tomato;  */
}

/* LOGO */
.header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: -1px solid rgba(236, 236, 236, 1);
} 
.navigation{
    display: flex;
    align-items: center;
}


.navigation__logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
}
.navigation__logo .accent{
color: var(--accent-color);
}
.navigation__logo .basic{
color: var(--main-color);
}
/* LINKS */

.navigation__link{
color: var(--main-color);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover {
 background-color: transparent;
 color: var(--accent-color);
 }
 .navigation__link:focus {
  color: var(--accent-color);
}
.navigation__link:active {
  color:var(--accent-color);
 }
.navigation__link {
 cursor: pointer;
 text-decoration: none;
 }
 .navigation__list .navigation__link{
     display: block;
     padding-top: 32px;
     padding-bottom: 32px;
 }
 .navigation__link{
    position: relative;
}
.navigation__link::after{
    position: absolute;
    content:"" ;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.navigation__link:hover::after{
    opacity: 1;
}


.navigation__list {
     display: flex;
}

.navigation__item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none; 
color: var(--main-color);
background-color: transparent;
}
.navigation__list .navigation__item:not(:last-child){
    margin-right: 50px;
}
.navigation__list{
    margin-left: 88px;
}
.navigation__link{
    display: flex;
    align-items: center;

}
/*/////////////////////// ADDRESS */

.address{
    display: flex;
    align-items: center; 
    margin-left: auto;
    
}

.address__list{
    margin-left: auto;

    display: flex;
    align-items: center;
}
.address__list{
color: var(--secondary-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none;
}
.address__list .address__item:not(:last-child){
    margin-right: 50px;
}
.address__list .address__link{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

}
.address__link{
    align-items: center;
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link{
    list-style-type: none; 
}
.address__link:hover {
background-color: transparent;
color: var(--accent-color);
}
.address__link:focus {
    color: var(--accent-color);
}
.address__link:active {
    color: var(--accent-color);
}
.address__link {
    cursor: pointer;
}
.address__link{
    color:  var(--secondary-color);
    text-decoration: none;
}
/* .......ICON......... */
.address__icon{
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__icon:hover,
.address__icon:focus{
    color: var(--accent-color);
}

/* MAIN */

.hero{
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__header{
color: var(--text-color);
/* background-color: var(--secondary-background-color); */

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
padding-bottom: 30px;
}
.hero__button{
    border-radius: 4px;
    padding: 10px 32px;
    border: 1px solid transparent;
    align-items: center;
    text-align: center;
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    letter-spacing: 0.06em;
    color: var(--text-color);
    background-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.hero__button:hover {
    background: var(--accent-color);
    color: var(--text-color);
}
.hero__button:focus {
    color: var(--accent-color);
}
.hero__button:active {
    color: var(--accent-color);
}
.hero__button{
    cursor: pointer;
}

/* SECTIONS */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/* FEATURES */

.heading{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature__list{
    display: flex;
}
.feature__list .feature__item{
    width: 270px;
}
.feature__list .feature__item:not(:last-child){
margin-right: 30px;
}

.feature-item{
    list-style-type: none;
    text-decoration: none;
}
.feature__name{
font-weight: 700;
font-size: 14px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-color);
}
.feature__name{
    margin-bottom: 10px;
}
.feature__description{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
.feature__background-icon{
   padding: 25px 100px;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   background-color: #dbdbde;
}
/* .............................................WHAT WE DO .............................*/
.design{
    padding-top: 0;
}
.heading{
    margin-bottom: 50px;
}
.design__list{
    display: flex;
}
.design .design__item{
    width: 370px;
}
.design .design__item:not(:last-child){
    margin-right: 30px;
}
.design__item{
    position: relative;
}
.design__app{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
}
.design__overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);

}
/* .................................................TEAM ......................................*/

.team__list{
    display: flex;
}
.team__list .team__item:not(:last-child){
    margin-right: 30px;  
}
.team__list .team__item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team__name{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);
margin-bottom: 10px;
}
.team__info{
    margin-top: 30px;
    margin-bottom: 16px;
}
.team__occupation{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.team .team__item{
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.3);
}

 .network__list{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.network__link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.network__link:hover,
.netwotk__link:focus{
    background-color: var(--accent-color);
    border-radius: 50%;
    fill: var(--text-color);
 }
 
.network__item:not(:last-child){
    margin-right: 10px;
} 


.network__link{
    fill: #AFB1B8;
    width: 44px;
    height: 44px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}



/* ................................... ..... . . .  .. .CLIENTS...................................... */
.clients__list{
    display: flex; 
 }
.clients__item{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 170px;
}
.clients__item:not(:last-child) {
    margin-right: 30px;
}
.clients__link {
    fill: #AFB1B8;
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients__logo{
    fill: currentColor;
}
/* ....................PORTFOLIO................ */
.button__list{
    display: flex;
    justify-content: center;
}

.button__list .button__item:not(:last-child){
    margin-right: 10px;
}
.button__list{
    list-style-type: none;
}
.button__list{
    margin-bottom: 50px;
}
.btn:hover,
.btn:focus{
    background: var(--accent-color);
    color: var(--text-color);
}

.btn:active {
    color: var(--accent-color);
}
.btn {
    cursor: pointer;
}
.btn{
display: inline-block;
border-radius: 4px;
padding: 6px 22px;
min-width: 72px;
border: 1px solid transparent;

font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
text-align: center;
color: var(--main-color);
background-color: var(--main-background-color);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ...............PICTURES................... */
.card__link:focus .card__text,
.card__link:hover .card__text {
transform: translateY(0);
}
 .card__list{
    display: flex;
    flex-wrap: wrap;
}
.card__list{
list-style-type: none;
text-decoration: none;
}
.card__item{
margin-right: 30px;
margin-bottom: 30px;
}
.card__item:nth-child(3n) {
 margin-right: 0;
 }
.card__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.card__item{
    width: 370px;
    border: 1px solid #EEEEEE;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover,
.card__item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__name{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-color);
padding-top: 20px;
text-decoration: none;
}
.card__name{
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 10px;
}
.card__item .card-link{
    text-decoration: none;
}
.card__type{
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--secondary-color);
padding-bottom: 20px;
text-decoration: none;
}
.card__type{
    padding-left: 24px;
    padding-right: 24px;
}
.card__item{
    overflow: hidden;
}
 .card__layout{
    position: relative;
    overflow: hidden;
}
 .card__text{
font-weight: 400;
font-size: 18px;
line-height: 1.55;
letter-spacing: 0.03em;
color: var(--text-color);
} 
.card__text{ 
    content: "";
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--layout-color);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 1500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__item:hover .project-info,
.card__item:focus .project-info{
    transform: translateY( 0);
} 
/* .................../////.............FOOTER .........///////....*/
.container  .footer__container{
max-width: 1600px;
}
.footer__logo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer__logotype {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;

}
.footer__logotype .start{
color: var(--accent-color);
}
.footer__logotype .end {
    color: var(--text-color);
}
.footer{
    padding-top:60px ;
    padding-bottom:60px ;
}
.footer {
background: var(--secondary-background-color);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

}
.footer__address{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.footer__list .footer__item:not(:last-child){
    margin-bottom: 10px;
}
.footer__map{
    color: var(--text-color);
    text-decoration: none;
}
.footer__contacts{
    color: var(--text-color);
    text-decoration: none;
}

.footer__container{
    display: flex;
    align-items: baseline;
}
/* <<<<<<<<<<<<<<JOIN>>>>>>>>>>>>>>>>>>>> */
.join{
    display: block;
    margin-left: 70px;
}

.join__text{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 20px;
    }
.join__list{
display: flex;
justify-content: center;
}
.join__item:not(:last-child) {
    margin-right: 10px;
  }
.join__link{
fill: #ffffff;
width: 44px;
height: 44px;
display: flex;
background-color: rgba(255, 255, 255, 0.1);
border-radius: 50%;
justify-content: center;
 align-items: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__link:hover,
.join__link:focus{
    background-color: var(--accent-color);
}
.subscription{
    display: block;
    margin-left: 95px;
}
.subscription__text{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--text-color);
margin-bottom: 20px;
}
.subscription__form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription__input{
    width: 358px;
    height: 50px;
    margin-right: 10px;
    padding: 15px;
    background: var(--secondary-background-color);
    border-radius: 4px;
    border: 1px solid var(--secondary-color);
    outline: 0px;
    color: var(--text-color);
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.subscription__input::placeholder{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
.subscription__input:hover,
.subscription__input:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    border-color: var(--accent-color);
}

.subscription__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 4px;
    border: transparent;
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button:hover,
.subscription__button:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.subscription__button{
    cursor: pointer;
}
.subscription__word{
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--text-color);
display: flex;
align-items: center;
justify-content: center;
}

.subscription__icon{
    margin-left: 10px;
}
/* ----/////////////////////////////-модалка----- */

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(0, 0, 0, 0.2);

   
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;

    width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: var(--primary-background-color);

    background: #FFFFFF;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.modal:hover,
.modal:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
.close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    background-color: var(--primary-background-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-button:hover,
.close-button:focus {
    border: 1px solid rgb(189, 187, 187);
    fill: var(--button-background-color);
}
.window{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.callback{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 12px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-label{
    position: relative;
    display: block;
    margin-bottom: 10px;
}


.modal-icon{
    position: absolute;
    top: 70%;
    left: 13px;
    transform: translateY(-50%);  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.form-input{
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
    padding-left: 42px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus~.modal-icon{
    fill: var(--button-background-color);
}
.form-input:hover~.modal-icon{
    fill: var(--button-background-color);
}
.form-input:hover,
.form-input:focus{
    border-color: var(--button-background-color);
    outline: 0;
}
.textarea:hover,
.textarea:focus{
    border-color: var(--button-background-color);
    outline: 0;
}

.field-type{
    top: -17px;
    left: 0%;
    transform: translateY(-50%);
    display: inline-block;
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color)
    
}
.textarea{
    width: 448px;
    height: 120px;
    resize: none;
    border-radius: 4px;
    border: 2px solid rgba(33, 33, 33, 0.2);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
    padding: 12px 16px;
}
.textarea::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.checkbox-input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.checkbox-label{
    position:relative;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* .checkbox-label:hover .custom-checkbox{
    border-color: var(--button-background-color);
} */

.checkbox-input:checked + .check-icon{
opacity: 1;
background-color: var(--button-background-color);
transform: translateY(25%); 
}

.check-icon{
position: absolute;
top: 0;
left: 0;

border-radius: 2px;
width: 16px;
height: 15px;
transform: translateY(25%);
opacity: 0;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(25%); 

    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--active-focus-color);
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:hover ~ .custom-checkbox,
.checkbox-input:focus ~ .custom-checkbox{
    border-color: var(--button-background-color);
}
.checkbox-input:checked ~ .custom-checkbox{
    border-color: var(--button-background-color);
}
.agreement-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-left: 30px;
}
.agreement-link{
    color: var(--link-text-color);
}
.text-button{
    font-weight: 700;
font-size: 16px;
line-height: 1.87;

display: flex;
align-items: center;
text-align: center;
justify-content: center;
letter-spacing: 0.06em;
color: var(--button-color);
}


.send-button{
    width: 200px;
    height: 50px;
    background-color: var(--button-background-color);
    border: transparent;
    border-radius: 4px;
    
    margin-left: 164px;
    margin-right: 164px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.send-button:hover,
.send-button:focus{
 background-color:#0c8bf3;
}
.send-button{
    cursor: pointer;
}




