.feature__list{
    display: flex;
}
.feature__item{
width: 270px;

list-style-type: none;
text-decoration: none;
  &:not(:last-child){
  margin-right: 30px;
}
}

.feature__name{
font-weight: 700;
font-size: 14px;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-color);

margin-bottom: 10px;
}
.feature__description{
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
.feature__background{
   padding: 25px 100px;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   background-color: #dbdbde;
}