
.header__container{
    @media screen and (max-width:767px){
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        align-items: baseline;

    }
    @media screen and (min-width:768px){
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    @media screen and (min-width:1200px){
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(238, 234, 234);

    }
} 

.menu-button{
    position: absolute;
    top: 11px;
    right: 30px;
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 10;
    
    @media screen and (min-width:768px){
        display: none;
    }
}
.menu-button.is-open .icon-menu, 
.menu-button .icon-cross{ 
    @media screen and (max-width:767px){ 
        display: none; 
    } 
} 
.menu-button.is-open .icon-cross{ 
    @media screen and (max-width:767px){ 
            display: block; 
            
    } 
} 


.menu-container{
    display: none;
    @media screen and (max-width:767px){
    position: fixed;
    padding: 40px 48px;
    width: 100vw;
    height: 100vh;
    
    &.is-open{
        background-color: #fff;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        z-index: 2;

    }
}
     @media screen and (min-width:768px){
        display: flex;
}
}

.menu__list{
    @media screen and(max-width:767px){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width:768px){
        display: none;
}
} 

.menu__item{
    @media screen and (max-width:767px){
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;

        &:not(:last-child){
            margin-right: 20px;
        }
        &:hover,
        &:focus{
            color: var(--accent-color);
        }
    }
}
.navigation__logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;

 &.accent{
 color: var(--accent-color);
 }
 &.basic{
 color: var(--main-color);
 }
}

.navigation__link{
color: var(--main-color);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
 &:hover,
 &:focus,
 &:active {
 background-color: transparent;
 color: var(--accent-color);
 }
 & {
 cursor: pointer;
 text-decoration: none;
 }
}

.navigation__link{
    @media screen and (min-width:768px){
     padding-top: 32px;
     padding-bottom: 32px;
 
    position: relative;

    &::after{
    position: absolute;
    content:"" ;
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
  &:hover::after{
    opacity: 1;
}
}
}
.navigation__link{
    @media screen and (min-width:768px){
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.navigation{
    @media screen and(min-width:768px){
    display: flex;
}
   @media screen and (min-width:1200px){
    margin-left: 88px;
   }
}
.navigation__list {
  @media screen and (min-width:768px){
     display: flex;
     flex-direction: row;
     align-items: center;
     
}
}
.navigation__item{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none; 
color: var(--main-color);
background-color: transparent;

@media screen and(max-width:767px){
    font-size: 40px;
    &:not(:last-child){
        margin-bottom: 32px;
    }
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
}
@media screen and (min-width:768px){

&:not(:last-child){
    margin-right: 50px;
}
}
}



.address__list{
color: var(--secondary-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
list-style-type: none;
@media screen and (max-width:767px){
    margin-top: auto;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column-reverse;
    font-size: 32px;
}
@media screen and (min-width:768px) {
margin-left: 84px;
display: flex;
flex-direction: column;
margin-top: 21px;
margin-bottom: 21px;
}
@media screen and (min-width:1200px){
margin-left: 305px;
display: flex;
flex-direction: row;
align-items: center;
}
}

.address__item:not(:last-child){
 @media screen and (max-width:767px){
    margin-top: 32px;
 }
 @media screen and (min-width:1200px){
  margin-right: 30px;
}
}
.address__item:not(:last-child){
   @media screen and(min-width:768px) and (max-width:1199.98px){
        margin-bottom: 10px;
    }  
}

.address__link{
    @media screen and(min-width:768px){
        display: flex;
        flex-direction: row;  
    }
    // @media screen and (min-width:1200px){
    
    // padding-top: 32px;
    // padding-bottom: 32px;
    // }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    list-style-type: none; 
    color:  var(--secondary-color);
    text-decoration: none;

 &:hover,
 &:focus,
 &:active {
background-color: transparent;
color: var(--accent-color);
}

 & {
    cursor: pointer;
}

}

.address__icon{
    margin-right: 10px;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus{
    color: var(--accent-color);
}
@media screen and (max-width:767px){
    display: none;
}

}
